@font-face {
font-family: 'rye';
src: url('fonts/Rye-Regular.ttf') format('truetype');
}

[hidden] {
  display: none !important;
}

#code {
  text-decoration: none;
  align-self: center;
  color: beige;
}

main#game {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;

  margin: 0 auto;
  
}

#game .hide_dropdown {
    display: none !important;
}

#game .dropdown {
    position: relative;
}

#game .dropdown_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content:space-evenly;

    position: absolute;
    width: 25vw;
    height: 40vh;
    left: 50%;
    transform: translateX(-50%);

    border: 2px solid beige;
    border-radius: 20px;
    background-color:  beige;
    color:rgb(84, 8, 50);
    z-index: 999;
}

.dropdown:hover .dropdown-content {
  display: block !important;
}

#game .target_picture {
    border: 2px solid rgb(84, 8, 50);
    border-radius: 10px;
    object-fit:cover;
    height: 80%;
    width: 60%;
}


#game .toast {
    display: flex;
    align-items: center;
    align-self: center;
    overflow: hidden;

    height: 100%;
    width: 100%;

    border: 2px solid beige;
    border-radius: 20px;
    background-color:  beige;
    color:rgb(84, 8, 50)
}

#game .photo {
    object-fit: cover;
}

#game .start_cam {
    height:20vh;
    aspect-ratio: 1/1;
    display: flex;
    font-size: clamp(1rem, 1.5vw, 4rem);

    white-space: nowrap;

    align-items: center;
    justify-content: center;
}

#game .camera {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 70vw;
}

#webcam {
    max-height: 80vh;
    width: 100%;
    max-width: 80vw;

    border-radius: 10px;
    transform: scaleX(-1);
}

.cam_button {
    position: absolute;
    bottom: 1vh;
    left: 50%;
    transform: translatex(-50%);

    width: 50px;
    height: 50px;
    border-radius: 50%;

    background-color: beige;
    border: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9) inset;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner_circle {

    width: 30px;
    height: 30px;
    border-radius: 50%;

    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.flash-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 9999;
    pointer-events: none;
}

