@font-face {
font-family: 'rye';
src: url('fonts/Rye-Regular.ttf') format('truetype');
}

[hidden] {
  display: none !important;
}

#code {
  text-decoration: none;
  align-self: center;
  color: beige;
}

main#game {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;

  margin: 0 auto;
}

#game .hide_dropdown {
    display: none !important;
}

#game .dropdown {
    position: relative;
}

#game .dropdown_content {
    position: absolute;
    width: 500px;
    left: 50%;
    transform: translateX(-50%);

    border: 2px solid beige;
    border-radius: 20px;
    background-color:  beige;
    color:rgb(84, 8, 50)
}

.dropdown:hover .dropdown-content {
  display: block !important;
}

#game .target_picture {
    border: 2px solid rgb(84, 8, 50);
    border-radius: 10px;
    object-fit: cover;
}


#game .camera {
    margin: 2vb;
    width: 70vw;
    height: 70vh;
    align-self: center;
    object-fit:contain;
}

#game .photo_button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    align-self: center;

    border: 0px solid transparent;
    background-color:   rgba(31, 27, 27);
    color: rgb(84, 8, 50);
    
    padding: 20px 18px;
    border-radius: 100px;
    width: 5vw;
    box-shadow: 0 0 10px rgba(15, 2, 9, 0.9);
}

#game .toast {
    display: flex;
    align-items: center;
    align-self: center;
    overflow: hidden;

    height: 100%;
    width: 100%;

    border: 2px solid beige;
    border-radius: 20px;
    background-color:  beige;
    color:rgb(84, 8, 50)
}

#game .photo {
    object-fit: cover;
}

#game .start_cam {
    height:20vh;
    aspect-ratio: 1/1;
    display: flex;
    font-size: clamp(1rem, 1.5vw, 4rem);

    white-space: nowrap;

    align-items: center;
    justify-content: center;
}


#webcam {
    max-height: 70vh;
    width: 100%;
    max-width: 70vw;

    border-radius: 10px;
    transform: scaleX(-1);
}

