@font-face {
font-family: 'rye';
src: url('fonts/Rye-Regular.ttf') format('truetype');
}

[hidden] {
  display: none !important;
  border: 2px solid black;
}

#code {
  text-decoration: none;
  align-self: center;
  color: beige;
}

main#game {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;

  margin: 0 auto;
}

.dropdown {
    text-align: center;
}

.dropdown-menu {
    display: none !important;
    background-color: beige;
    border: 2px solid rgb(84, 8, 50);
    border-radius: 10px;
    box-shadow: 0 0 200px rgba(0,0,0,0.5);
    min-width: 20 vw;
    color: rgb(84, 8, 50);
    text-align: center;
    flex-direction: initial !important;
}

.dropdown-menu.show {
    display: block !important; 
}

#game .target_picture {
    border: 2px solid rgb(84, 8, 50);
    border-radius: 10px;
    object-fit: cover;
}

#game div {
    display: flex;
    flex-direction: column;
}

#game .camera {
    margin: 2vb;
    width: 70vw;
    height: 70vh;
    align-self: center;
    object-fit:contain;
}

#game .photo_button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    align-self: center;

    border: 0px solid transparent;
    background-color:   rgba(31, 27, 27);
    color: rgb(84, 8, 50);
    
    padding: 20px 18px;
    border-radius: 100px;
    width: 5vw;
    box-shadow: 0 0 10px rgba(15, 2, 9, 0.9);
}

#game .foot {
    display: flex;
    align-items: center;
    align-self: center;
    overflow: hidden;
    gap: 2%;
    margin: 5vb;

    height: 30%;
    width: 80%;

    border: 2px solid beige;
    border-radius: 20px;
    background-color:  beige;
    color:rgb(84, 8, 50)
}

#game .photo {
    object-fit: cover;
}
