@font-face {
font-family: 'rye';
src: url('fonts/Rye-Regular.ttf') format('truetype');
}

[hidden] {
  display: none !important;
}

.styled_button {
  display: inline-block;
  text-decoration: none;
  text-align: center;

  border: 0px solid transparent;
  background-color:  beige;
  font-family: 'rye';
  color: rgb(84, 8, 50);

  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(15, 2, 9, 0.9);
}

.vignette {
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;

  font-family: 'rye';
  color:beige;
  background-color: rgb(84, 8, 50);
  margin: 0;
  
  overflow-y: auto; 
  overflow-y: visible;
  min-height: 100vh;
}

header{
  align-self: center;
  font-size: x-large;
  margin: 1vw 3vw;
  min-height: 10vh;
  
  padding: 0 20px;
  z-index: 99;
}

.message {
    align-self: center;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 1vh;
  margin: auto;

  width: 90vw;
  min-height: 1vh;
}

footer{
  min-height: 10vh;
  width: 90%;

  align-self: center;
  padding: 2vb;
  text-align: center;
}

.player {
  display: flex;
  overflow: hidden;
  align-items: center;
  gap: 1%;

  min-height: 40vh;
  min-width: 40vw;

  border: 0px solid transparent;
  border-radius: 20px;
  background-color:  beige;
  color:rgb(84, 8, 50);
  
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.photo {
  height: 100%;
  width: 30%;
  object-fit:cover;
  margin: 0;

  border: 2px solid transparent;
  border-radius: 20px;
}

