@font-face {
font-family: 'rye';
src: url('fonts/Rye-Regular.ttf') format('truetype');
}

[hidden] {
  display: none !important;
}

.styled_button {
    display: inline-block;
    text-decoration: none;
    text-align: center;

    border: 0px solid transparent;
    background-color:  beige;
    color: rgb(84, 8, 50);

    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(15, 2, 9, 0.9);
}

.vignette {
    position:fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

body {
    display: flex;
    flex-direction: column;

    font-family: 'rye';
    color:beige;
    background-color: rgb(84, 8, 50);
    margin: 0;
    
    overflow-y: auto; 
    overflow-y: visible;
    min-height: 100vh;
}


header{
    display: flex;
    align-items: center; 
    justify-content: space-between;

    margin: 1vw 3vw;
    min-height: 10vh;

    padding: 0 20px;
}

.dropdown {
    text-align: center;
}

.dropdown-menu {
    background-color: beige;
    border: 2px solid rgb(84, 8, 50);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    min-width: 20 vw;
    color: rgb(84, 8, 50);
    text-align: center;
}

.target_picture {
    border: 2px solid rgb(84, 8, 50);
    border-radius: 10px;
    object-fit: cover;
}


main {
    display: flex;
    flex-direction: column;
}

.camera {
    margin: 2vb;
    width: 70vw;
    height: 70vh;
    align-self: center;
    object-fit:contain;
}

.photo_button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    align-self: center;

    border: 0px solid transparent;
    background-color:   rgba(31, 27, 27);
    color: rgb(84, 8, 50);
    
    padding: 20px 18px;
    border-radius: 100px;
    width: 5vw;
    box-shadow: 0 0 10px rgba(15, 2, 9, 0.9);
}

.camera_emoji {
    filter: grayscale(100%);
}

footer {
    display: flex;
    align-items: center;
    align-self: center;
    overflow: hidden;
    gap: 2%;
    margin: 5vb;

    height: 30%;
    width: 48%;

    border: 2px solid beige;
    border-radius: 20px;
    background-color:  beige;
    color:rgb(84, 8, 50)
}

.photo {
    object-fit: cover;
}
