@font-face {
font-family: 'rye';
src: url('fonts/Rye-Regular.ttf') format('truetype');
color:beige;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 50vh;

    font-family: 'rye';
    color:beige;
    background-color: rgb(84, 8, 50)
    
}

.photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1;
    height: 1;
}

.photo {
    padding: 0px;
    margin: 1px;
}


.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

