@font-face {
font-family: 'rye';
src: url('fonts/Rye-Regular.ttf') format('truetype');
}

.styled_button {
  display: inline-block;
  text-decoration: none;
  text-align: center;

  border: 0px solid transparent;
  background-color:  beige;
  color: rgb(84, 8, 50);

  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(15, 2, 9, 0.9);
}

.vignette {
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

body::-webkit-scrollbar {
  display: none;
}


header{
  display: flex;
  align-items: center; 
  justify-content: space-between;

  margin: 1vw 3vw;
  min-height: 10vh;
  
  padding: 0 20px;
}

#code {
  align-self: center;
}

main {
  display: flex;
  justify-content: center;

  margin: 0 auto;

  width: 90%;
  min-height: 60vh;
}

#start_button {
  align-self: center;
  margin-top: 2vh;
  width: 70%;
  height: 10vh;
}

footer{
  min-height: 10vh;
  width: 90%;

  margin: auto;
  text-align: center;
}

#games {
  display: flex;
  justify-content: center;
  gap: 1%;
}

.players {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
  gap: 1%;
  padding: 1%;

  border: 2px solid beige;
  box-shadow: 0 0 60px rgba(31, 27, 27) inset;
  background-color: rgb(12, 12, 12);
  border-radius: 20px;
  box-sizing: border-box
}

.player {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 1%;

  height: 30%;
  width: 48%;

  border: 2px solid beige;
  border-radius: 20px;
  background-color:  beige;
  color:rgb(84, 8, 50)
}

.photo {
  height: 100%;
  width: 25%;
  object-fit: cover;

  border: 2px solid beige;
  border-radius: 20px;
}

input[type="file"] {
    display: none;
}

.file_upload {
    display: inline-block;
    padding: 5px 10px;
    background-color: rgb(84, 8, 50);
    color: beige;
    border-radius: 10px;
    border: 0px solid transparent;
    
}

