@font-face {
font-family: 'rye';
src: url('fonts/Rye-Regular.ttf') format('truetype');
color:beige;
}

body {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;

    font-family: 'rye';
    color:beige;
    background-color: rgb(84, 8, 50);
}


.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

