@font-face {
font-family: 'rye';
src: url('fonts/Rye-Regular.ttf') format('truetype');
}

.vignette {
  position:relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

body {
    display: flex;
    flex-direction: column;

    font-family: 'rye';
    color:beige;
    background-color: rgb(84, 8, 50);
    margin: 0;
    
    overflow-y: auto; 
    overflow-y: visible;
    min-height: 100vh;
}

header{
  margin: 1vw 3vw;
  min-height: 50px;
  
  display: flex;
  align-items: center; 
  justify-content: space-between;
  
  padding: 0 20px;

  border: 2px solid rgb(36, 22, 188);
  border-radius: 20px;

}

main {
  display: flex;
  justify-content: center;

  width: 100%;
  min-height: 90%;

  flex: 1;

  border: 2px solid rgb(169, 61, 241);
  border-radius: 20px;
}

footer{
  min-height: 10%;

  border: 2px solid rgb(239, 239, 10);
  border-radius: 20px;
}




.players {
  display: flex;
  flex-direction: column;
  width: 30vw;

  height: auto;

  border: 2px solid beige;
  border-radius: 20px;
}

.player {
  display: flex;
  justify-items: center;

  height: 15cqh;
  border: 2px solid beige;
  border-radius: 20px;
}

.photo {
  height: 15cqh;
  width: 5cqw;
  border: 2px solid beige;
  border-radius: 20px;
}

