main#end {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  overflow-y: scroll;
  max-height: 60vh;
  
  gap: 5px;
  padding: 1%;

  border: 2px solid beige;
  box-shadow: 0 0 60px rgb(49, 43, 43) inset;
  background-color: rgb(36, 35, 35) !important;
  border-radius: 20px;
  box-sizing: border-box
}

main::-webkit-scrollbar{
  display: none;
}

#end .player {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 1%;

  height: 30%;
  width: 90%;

  border: 2px solid black;
  border-radius: 20px;
  background-color:  black;
  color:rgb(84, 8, 50);
  font-size: 2rem;
  box-shadow: 0 0 60px rgba(20, 20, 20, 0.9) inset;

}

#end .photo {
  border: 2px transparent;
  height: fit-content;
}