.body {
  display: flex;
  flex-direction: column;
  min-width: 375px;
}

@font-face {
font-family: 'rye';
src: url('../../fonts/Rye-Regular.ttf') format('truetype');
}

[hidden] {
  display: none !important;
}

.styled_button {
  display: inline-block;
  text-decoration: none;
  text-align: center;

  border: 0px solid transparent;
  background-color:  beige;
  font-family: 'rye';
  color: rgb(84, 8, 50);

  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(15, 2, 9, 0.9);
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
  z-index: 9999;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  display: flex;
  flex-direction: column;

  font-family: 'rye';
  color:beige;
  background-color: rgb(84, 8, 50);
  margin: 0;
  
  overflow-y: auto; 
  overflow-y: visible;
  min-height: 100vh;
}

h1 {
    display: flex;
    align-items: center;
    font-size: 2rem;
}


.navbar-nav {
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    gap: 5px;
    overflow: hidden;
}

.nav-link.active {
    color: rgb(44, 44, 42) !important;
}

header{
  height: 10vh;
  
  padding: 0 20px;
  background-color:  rgb(84, 8, 50);
}

nav {
  position:relative !important;
  width: 100%;
}

#code {
  text-decoration: none;
  text-align: center;
  color: beige;
}

main {
  align-content: center;
  text-align: center;
  width: 60vw;
  height: 68vh;
  position: relative;
}

footer{
  min-height: 10vh;
  width: 90%;
  padding-top: 2vh;
  margin: auto;
  text-align: center;
  background-color:  rgb(84, 8, 50);
}

#games {
  display: flex;
  justify-content: center;
  gap: 1%;
}

.players::-webkit-scrollbar {
  display: none;
}

.player {
  display: flex;
  align-items: center;
  overflow: hidden;
  gap: 1%;

  height: 30%;
  width: 90%;

  border: 2px solid beige;
  border-radius: 20px;
  background-color:  beige;
  color:rgb(84, 8, 50)

}

#center {
  gap: 1vh;
  text-align: center;
  display:block;
  margin: 0 auto;
  
}
