@font-face {
font-family: 'rye';
src: url('fonts/Rye-Regular.ttf') format('truetype');
}

.styled_button {
  display: inline-block;
  text-decoration: none;
  text-align: center;

  border: 0px solid transparent;
  background-color:  beige;
  font-family: 'rye';
  color: rgb(84, 8, 50);

  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(15, 2, 9, 0.9);
}

.vignette {
  position:fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

body {
  justify-content: center;
  align-content: center;
  font-family: 'rye';
  color:beige;
  background-color: rgb(84, 8, 50);
  margin: 0;
  
  overflow-y: auto; 
  overflow-y: visible;
  min-height: 100vh;
}
