
.center {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  margin: 2rem auto;

  gap: 1vh;
  width: 90%;

  gap: 1vh;
  text-align: center;
  display:block;
  
}

#account button {
  margin: 1vw;
}
